{% extends "base.html" %}

{% block body %}
<form class="ui large form">
  <div class="ui stacked segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" name="username" placeholder="Reddit Username">
      </div>
    </div>
    <div class="ui fluid large teal submit button">Login</div>
  </div>
  <div class="ui error message"></div>
</form>

{% if error_message %}
  <div class="ui negative message">
    <h4>{{ error_message }}</h4>
  </div>
{% endif %}

{% endblock %}